section.hero {
  background-image: url("../../assets/Pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.hero div.hero-content {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  padding: 20rem 4rem;
  width: 100%;
}
section.hero div.hero-content h1 {
  color: #eee;
  margin-bottom: 3rem;
  text-align: center;
}
section.hero div.hero-content button {
  background-color: #eee;
  border-radius: 4px;
  border: none;
  padding: 1rem 4rem;
  transition: 200ms;
}
section.hero div.hero-content button:hover {
  background-color: coral;
  color: #eee;
}
