section.pizzaOrderSection {
  div.pizzaOrderTitle {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  form {
    margin: 0 auto;
    max-width: 1000px;

    div.inputAreaLabel {
      background-color: #ccc;
      padding: 2rem;
    }
    label {
      display: flex;
      font-size: 2rem;
      margin: 2rem;

      select {
        margin: 0 1rem;
        min-width: 15rem;
      }

      input.additionalInfo {
        height: 2rem;
        font-size: 1.6rem;
        width: 100%;
      }
    }
  }
}
