section.pizzaOrderSection div.pizzaOrderTitle {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
}
section.pizzaOrderSection div.pizzaOrderTitle h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
section.pizzaOrderSection form {
  margin: 0 auto;
  max-width: 1000px;
}
section.pizzaOrderSection form div.inputAreaLabel {
  background-color: #ccc;
  padding: 2rem;
}
section.pizzaOrderSection form label {
  display: flex;
  font-size: 2rem;
  margin: 2rem;
}
section.pizzaOrderSection form label select {
  margin: 0 1rem;
  min-width: 15rem;
}
section.pizzaOrderSection form label input.additionalInfo {
  height: 2rem;
  font-size: 1.6rem;
  width: 100%;
}
