header {
  background-color: #2f2f2f;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
header div.navbar-left h2 {
  color: #eee;
}
header div.navbar-right button {
  margin-left: 1rem;
}
