section.food-gallery {
  background-color: #eee;
}
section.food-gallery h2 {
  margin-top: 3rem;
  text-align: center;
}
section.food-gallery div.gallery-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}
