section.food-gallery {
  background-color: coral;

  div.gallery-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
  }
}
